src/com/accenture/sec/xsd/EmployeeInfo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="EmployeeInfo">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="employeedtl" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="empName" type="xs:string"/>
            <xs:element name="departmentId" type="xs:positiveInteger" minOccurs="0"/>
            <xs:element name="gender" type="xs:string" minOccurs="0"/>
            <xs:element name="city" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>